{
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "go-template"
      }
    }
  ],
  "plugins": ["@prettier/plugin-xml", "prettier-plugin-go-template"],
  "printWidth": 79,
  "proseWrap": "always",
  "xmlSortAttributesByKey": true,
  "xmlWhitespaceSensitivity": "preserve"
}
