<link href="/favicon.ico" rel="icon" sizes="32x32" type="image/x-icon" />
<link
  href="{{ ("images/logo.svg" | resources.Get | minify).RelPermalink }}"
  rel="icon"
  type="image/svg+xml"
/>
<link href="/apple-touch-icon.png" rel="apple-touch-icon" type="image/png" />
{{ with "styles/print.scss"
  | resources.Get
  | toCSS (dict "transpiler" "dartsass")
  | minify
  | fingerprint
}}
  <link
    href="{{ .RelPermalink }}"
    rel="stylesheet"
    media="print"
    integrity="{{ .Data.Integrity }}"
    crossorigin="anonymous"
  />
{{ end }}
{{ with  "styles/screen.scss"
  | resources.Get
  | toCSS (dict "transpiler" "dartsass")
  | minify
  | fingerprint
}}
  <link
    href="{{ .RelPermalink }}"
    rel="stylesheet"
    media="screen"
    integrity="{{ .Data.Integrity }}"
    crossorigin="anonymous"
  />
{{ end }}
{{ with .OutputFormats.Get "rss" }}
  <link
    href="{{ .RelPermalink }}"
    rel="{{ .Rel }}"
    type="{{ .MediaType.Type }}"
    title="{{ partial "named-title.html" $ }}"
  />
{{ end }}
{{ if .IsHome }}
  {{ range where .Site.Data.contact "site" "Fediverse" }}
    <link href="{{ .link }}" rel="me" />
  {{ end }}
{{ end }}
<meta charset="UTF-8" />
{{ range where .Site.Data.contact "site" "Fediverse" }}
  <meta name="fediverse:creator" content="{{ .name }}" />
{{ end }}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{{ partial "opengraph.html" . }}
{{ with (cond
  (.Store.Get "hasCopy")
  "scripts/has-copy-index.ts"
  "scripts/index.ts")
  | resources.Get
  | js.Build (dict "minify" true)
  | fingerprint
}}
  <script
    src="{{ .RelPermalink }}"
    integrity="{{ .Data.Integrity }}"
    crossorigin="anonymous"
    defer
  ></script>
{{ end }}
<title>{{ partial "named-title.html" . }}</title>
