<link href="/favicon.ico" rel="icon" sizes="32x32" type="image/x-icon" />
<link
  rel="icon"
  href="{{ (resources.Get "images/logo.svg" | minify).RelPermalink }}"
  type="image/svg+xml"
/>
<link rel="apple-touch-icon" href="/apple-touch-icon.png" type="image/png" />
{{ with resources.Get "styles/print.scss"
  | toCSS (dict "transpiler" "dartsass")
  | minify
  | fingerprint
}}
  <link
    href="{{ .RelPermalink }}"
    rel="stylesheet"
    media="print"
    integrity="{{ .Data.Integrity }}"
    crossorigin="anonymous"
  />
{{ end }}
{{ with resources.Get "styles/screen.scss"
  | toCSS (dict "transpiler" "dartsass")
  | minify
  | fingerprint
}}
  <link
    href="{{ .RelPermalink }}"
    rel="stylesheet"
    media="screen"
    integrity="{{ .Data.Integrity }}"
    crossorigin="anonymous"
  />
{{ end }}
<meta charset="UTF-8" />
<meta name="fediverse:creator" content="@djscythe@pawb.fun" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{{ with resources.Get "scripts/index.ts"
  | js.Build (dict "minify" true)
  | fingerprint
}}
  <script
    src="{{ .RelPermalink }}"
    integrity="{{ .Data.Integrity }}"
    crossorigin="anonymous"
  ></script>
{{ end }}
<title>
  {{- with .Title | markdownify | plainify -}}
    {{ cond (strings.Contains . "djscythe") . (printf "%s | djscythe" .) }}
  {{- end -}}
</title>
