<meta
  property="og:description"
  content="{{ .Plain | strings.Truncate 100 " …" }}"
/>
{{ with .Resources.Get "images/cover.png" }}
  <meta property="og:image" content="{{ .Permalink }}" />
  <meta property="og:image:alt" content="{{ .Params.coverAlt }}" />
{{ else }}
  <meta property="og:image" content="{{ absURL "/images/cover.png" }}" />
  <meta
    property="og:image:alt"
    content="a stylized white S on a light blue background."
  />
{{ end }}
<meta property="og:locale" content="{{ site.Language.LanguageCode }}" />
<meta
  property="og:site_name"
  content="{{ site.Title | markdownify | plainify }}"
/>
<meta property="og:title" content="{{ .Title | markdownify | plainify }}" />
{{ if .IsPage }}
  <meta property="og:type" content="article" />
{{ else }}
  <meta property="og:type" content="website" />
{{ end }}
<meta property="og:url" content="{{ .Permalink }}" />
{{ if .IsPage }}
  {{ with .PublishDate }}
    <meta
      property="article:published_time"
      content="{{ .Format "2006-01-02" }}"
    />
  {{ end }}
  <meta property="article:author" content="{{ site.Home.Permalink }}" />
  {{ with .Section }}
    <meta property="article:section" content="{{ . }}" />
  {{ end }}
  {{ range .GetTerms "tags" }}
    <meta
      property="article:tag"
      content="{{ .LinkTitle | markdownify | plainify }}"
    />
  {{ end }}
{{ end }}
{{ if .IsHome }}
  <meta
    property="profile:first_name"
    content="{{ delimit (strings.Split site.Params.author.name " " | first 1) "" }}"
  />
  <meta
    property="profile:last_name"
    content="{{ delimit (strings.Split site.Params.author.name " " | last 1) "" }}"
  />
{{ end }}
