@use "cascadia";
@use "inter";
@use "newcm";

%list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

address {
  font-style: inherit;
}

blockquote {
  display: flex;
  padding-inline-start: 1em;
  margin-block: 0.5em;
  margin-inline: 0;
  font-style: italic;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  line-height: 1.5;
  hyphens: auto;
}

code,
samp {
  font-family: CascadiaCode, monospace;
  hyphens: none;
}

dd {
  display: inline;
  margin: 0;

  &::after {
    white-space: pre;
    content: "\a";
  }
}

dt {
  display: inline;
  font-weight: bolder;

  &::after {
    content: ": ";
  }
}

figure {
  margin: 0;

  &:has(blockquote) figcaption::before {
    content: "– ";
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0;
  font-family: InterDisplay, sans-serif;
  text-align: start;
  text-wrap: balance;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1em;
}

img,
svg {
  display: block;
}

math {
  font-family: NewCMMath, serif;
  font-size: 1.2em;
}

p {
  margin-block: 0.5em;
}

pre {
  font: inherit;
}

sup {
  font-size: 1em;
  font-feature-settings: "sups";
  vertical-align: baseline;
}

.blog-header {
  display: grid;
  grid-template-columns: 1fr 1fr;

  :nth-child(1) {
    grid-column: 1 / -1;
  }

  :nth-child(2n + 3) {
    justify-self: end;
  }
}

.blog-list {
  @extend %list-reset;

  h2,
  h3 {
    margin: 0;
    font-size: 1em;
  }

  p {
    margin: 0;
  }

  > li {
    margin-block-end: 0.5em;
  }
}

.cover-image {
  grid-column: 1 / -1;
  inline-size: 100%;
  block-size: auto;
  margin-block-end: 0.5em;
  border-radius: 0.75em;
}

.portfolio-list {
  @extend %list-reset;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em 1em;

  h2 {
    margin: 0;
    font-size: 1em;
  }
}

.sitemap-list {
  @extend %list-reset;

  ul {
    margin-inline-start: 1em;
  }
}
