@font-face {
  font-family: NewCMMath;
  font-style: normal;
  font-weight: 400;
  src:
    local("NewComputerModernMath Book"), local("NewCMMath-Book"),
    url("/fonts/newcm/NewCMMath-Book.woff2");
  font-display: swap;
}
