@use "base";

:root {
  font-size: 10pt;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  text-align: justify;
}

.article-footer,
.copy-button,
.footnote-backref,
#page-footer,
#page-header,
#rss-link {
  display: none;
}

.main-header {
  display: contents;
}

@page {
  margin: calc(297mm / 9) calc(210mm / 9 * 1.5) calc(297mm / 9 * 2);
  size: a4 portrait;

  @bottom-center {
    content: counter(page);
  }
}

// currently unsupported in WebKit
// @page :left {
//   margin-inline: calc(210mm / 9 * 2) calc(210mm / 9 * 1);
// }

// @page :right {
//   margin-inline: calc(210mm / 9 * 1) calc(210mm / 9 * 2);
// }
