$color-black: oklch(20% 2.5% 255deg);
$width-body: 40rem;
$width-margin-max: 32px;
$width-margin-min: 16px;

@use "base";
@use "motion" as *;

@mixin hide {
  position: absolute;
  clip-path: inset(50%);
}

:root {
  color-scheme: light dark;

  --color-accent: oklch(65% 47.5% 255deg);
  --color-background: light-dark(white, #{$color-black});
  --color-subtext: light-dark(oklch(60% 7.5% 255deg), oklch(55% 5% 255deg));
  --color-overlay: light-dark(oklch(85% 7.5% 255deg), oklch(45% 2.5% 255deg));
  --color-surface: light-dark(oklch(95% 5% 255deg), oklch(30% 2.5% 255deg));
  --color-text: light-dark(#{$color-black}, white);

  &:has(#dark-radio:checked),
  &[data-theme="dark"]:not(:has(#light-radio:checked)) {
    color-scheme: dark;
    -webkit-font-smoothing: antialiased;

    #dark-label {
      @include hide;
    }
  }

  &:has(#light-radio:checked),
  &[data-theme="light"]:not(:has(#dark-radio:checked)) {
    color-scheme: light;
    -webkit-font-smoothing: auto;

    #light-label {
      @include hide;
    }
  }
}

a {
  color: var(--color-accent);
  text-decoration: none;

  &[href^="https://"]:not([href^="https://samskeo.ch"])::after {
    content: "\202f↗";
  }
}

blockquote {
  color: var(--color-subtext);
  border-inline-start: 0.0938em solid currentcolor;
}

body {
  display: flex;
  flex-direction: column;
  min-block-size: 100dvb;
  color: var(--color-text);
  background-color: var(--color-background);
}

code {
  padding-block: 0.0938em;
  padding-inline: 0.1875em;
  margin-inline: 0.0625em;
  text-decoration-color: inherit;
  background-color: var(--color-surface);
  border-radius: 0.375em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-accent);
}

main {
  flex-grow: 1;
  inline-size: min($width-body, 100% - $width-margin-min * 2);
  padding-block-end: 1em;
  margin-inline: auto;
  container: main / inline-size;
}

pre {
  position: relative;
  margin-block: 0.5;
  background-color: var(--color-surface);
  border-radius: 0.5em;

  code,
  samp {
    display: block;
    padding-block: 0.25em;
    padding-inline: 0.5em;
    margin: 0;
    overflow: auto;
    background: none;
    border-radius: 0;
  }
}

.article-footer,
.blog-header {
  color: var(--color-subtext);
}

.article-footer {
  color: var(--color-subtext);

  h2,
  h3,
  h4 {
    display: inline;
    font: inherit;
    color: inherit;

    &::after {
      content: ": ";
    }
  }

  .nav-list li:not(:last-child)::after {
    content: ", ";
  }
}

.error {
  color: light-dark(oklch(65% 37.5% 15deg), oklch(75% 37.5% 15deg));
}

.main-header {
  display: flex;
  gap: 1em;
  align-items: baseline;
}

.nav-list {
  @extend %list-reset;

  display: inline;

  li {
    display: inline;
  }
}

.sun-ray {
  stroke: var(--color-subtext);
}

#logo {
  border-radius: 0.75em;
}

#moon {
  cursor: pointer;
}

#moon-path {
  fill: var(--color-subtext);
}

#page-footer {
  padding-block: 1em;
  padding-inline: clamp(
    $width-margin-min,
    (100dvi - $width-body) / 2,
    $width-margin-max
  );
  color: var(--color-text);
  background-color: var(--color-accent);

  a {
    color: var(--color-background);
  }

  .nav-list li:not(:last-child)::after {
    content: " / ";
  }
}

#page-header {
  display: flex;
  gap: 1em;
  align-items: center;
  padding-block: 1em;
  padding-inline: clamp(
    $width-margin-min,
    (100dvi - $width-body) / 2,
    $width-margin-max
  );

  nav,
  .nav-list {
    display: contents;
  }

  > :nth-child(2) {
    margin-inline-end: auto;
  }
}

#rss-link {
  circle {
    fill: var(--color-subtext);
  }

  path {
    stroke: var(--color-subtext);
  }
}

#sun {
  cursor: pointer;
  fill: none;

  circle {
    stroke: var(--color-subtext);
  }
}

#theme-selector {
  padding: 0;
  margin: 0;
  border: none;

  input {
    position: absolute;
    appearance: none;
  }

  label {
    display: flex;
  }

  legend {
    position: absolute;
    clip-path: inset(50%);
  }
}

@container main (width < #{$width-body}) {
  p {
    text-align: start;
  }
}

@container main (width >= #{$width-body}) {
  p {
    text-align: justify;
  }
}

@media (color-gamut: p3) {
  :root {
    --color-accent: oklch(65% 50% 255deg);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    -webkit-font-smoothing: antialiased;
  }

  :root:not([data-theme], :has(#light-radio:checked)) #dark-label {
    @include hide;
  }
}

@media (prefers-color-scheme: light) {
  body {
    -webkit-font-smoothing: auto;
  }

  :root:not([data-theme], :has(#dark-radio:checked)) #light-label {
    @include hide;
  }
}

@media (prefers-reduced-motion: no-preference) {
  @include motion;
}
