@use "base";

@mixin hide {
  position: absolute;
  clip-path: inset(50%);
}

@mixin unhide {
  position: initial;
  clip-path: initial;
}

$body-width: 40rem;
$margin-min: 16px;
$margin-max: 32px;
$black: oklch(20% 2.5% 255deg);

:root {
  color-scheme: light dark;

  --color-accent: oklch(65% 47.5% 255deg);
  --color-background: light-dark(white, #{$black});
  --color-overlay: light-dark(oklch(60% 7.5% 255deg), oklch(55% 5% 255deg));
  --color-surface: light-dark(oklch(95% 5% 255deg), oklch(30% 2.5% 255deg));
  --color-text: light-dark(#{$black}, white);

  &:has(#dark-radio:checked),
  &[data-theme="dark"] {
    color-scheme: dark;

    #dark-label {
      @include hide;
    }

    #light-label {
      @include unhide;
    }
  }

  &:has(#light-radio:checked),
  &[data-theme="light"] {
    color-scheme: light;

    #dark-label {
      @include unhide;
    }

    #light-label {
      @include hide;
    }
  }
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-block-size: 100dvb;
  margin-inline: auto;
}

code {
  padding-block: 0.0938em;
  padding-inline: 0.1875em;
  margin-inline: 0.0625em;
  text-decoration-color: inherit;
  background-color: var(--color-surface);
  border-radius: 0.375em;
}

main {
  flex-grow: 1;
  inline-size: min($body-width, 100% - $margin-min * 2);
  margin-block: 0;
  margin-inline: auto;
  container: main / inline-size;
}

pre {
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  margin-block: 1rem;
  margin-inline: 0;
  background-color: var(--color-surface);
  border-radius: 0.5rem;

  code {
    padding: 0;
    margin: 0;
    background: none;
    border-radius: 0;
  }
}

.article-footer {
  color: var(--color-overlay);

  .nav-list li:not(:last-child)::after {
    content: ", ";
  }

  ul {
    padding-inline-start: 0;
  }
}

.error {
  color: light-dark(oklch(70% 47.5% 15deg), oklch(75% 37.5% 15deg));
}

.sun-ray {
  stroke: var(--color-overlay);
  transform-origin: center;
}

#logo {
  border-radius: 0.75rem;
}

#moon-path {
  fill: var(--color-overlay);
}

#page-footer {
  padding-block: 1rem;
  padding-inline: clamp($margin-min, (100% - $body-width) / 2, $margin-max);
  margin-block-start: 1rem;
  color: var(--color-text);
  background-color: var(--color-accent);

  a {
    color: var(--color-background);
  }

  .nav-list li:not(:last-child)::after {
    content: " / ";
  }
}

#page-header {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-block: 1rem;
  padding-inline: clamp($margin-min, (100% - $body-width) / 2, $margin-max);

  nav,
  .nav-list {
    display: contents;
  }

  > :nth-child(2) {
    margin-inline-end: auto;
  }
}

#sun {
  fill: none;

  circle {
    stroke: var(--color-overlay);
  }
}

#theme-selector {
  padding: 0;
  margin: 0;
  border: none;

  input {
    position: absolute;
    appearance: none;
  }

  label {
    display: flex;
  }

  legend {
    position: absolute;
    clip-path: inset(50%);
  }
}

@container main (width < #{$body-width}) {
  p {
    text-align: start;
  }
}

@container main (width >= #{$body-width}) {
  p {
    text-align: justify;
  }
}

@media (color-gamut: p3) {
  :root {
    --color-accent: oklch(65% 50% 255deg);
  }
}

@media (prefers-color-scheme: dark) {
  #dark-label {
    @include hide;
  }
}

@media (prefers-color-scheme: light) {
  #light-label {
    @include hide;
  }
}

@media (prefers-reduced-motion: no-preference) {
  code,
  pre {
    transition: background-color 0.5s ease;
  }

  body,
  #page-footer {
    transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-property: background-color, color;
  }

  .error,
  #page-footer a {
    transition: color 0.5s ease;
  }

  @media (hover: hover) {
    a {
      text-decoration-line: underline;
      text-decoration-color: transparent;
      transition: text-decoration-color 0.1875s ease;

      code {
        transition:
          background-color 0.5s ease,
          text-decoration-color 0.1875s ease;
      }

      &:hover {
        text-decoration-color: currentcolor;
      }

      .cover-image {
        transition: border-radius 0.25s ease;

        &:hover {
          border-radius: 1.25rem;
        }
      }
    }

    .sun-ray {
      transition: transform 0.25s ease;
    }

    #logo {
      transition: border-radius 0.25s ease;

      &:hover {
        border-radius: 50%;
      }
    }

    #moon {
      transform-origin: 19px 16px;
      transition: transform 0.25s ease;
    }

    #page-footer a {
      transition:
        color 0.5s ease,
        text-decoration-color 0.1875s ease;
    }

    #sun {
      overflow: visible;
    }

    #theme-selector {
      &:hover {
        #moon {
          transform: rotate(15deg);
        }

        .sun-ray {
          transform: translateY(-2px);
        }
      }
    }
  }
}
